{% extends '../layout/base.html' %}
{% load static %}
{% block body %}

<body class="main-layout inner_page">
  <!-- loader  -->
  <div class="loader_bg">
    <div class="loader"><img src="{% static 'images/loading.gif' %}" alt="#" /></div>
  </div>
  <!-- end loader -->
  <!-- header -->
  {% include 'include/navigation.html' %}
  <!-- end header inner -->
  <!-- contact -->
  <div class="contact">
    <div class="container-fluid">
      <div class="row d_flex">
        <div class="col-md-5">
          <form id="request" class="main_form">
            <div class="row">
              <div class="col-md-12 ">
                <div class="titlepage text_align_left">
                  <h2>Get In Touch</h2>
                </div>
              </div>
              <div class="col-md-12">
                <input class="form_control" placeholder="Name " type="type" name=" Name">
              </div>
              <div class="col-md-12">
                <input class="form_control" placeholder="Email" type="type" name="Email">
              </div>
              <div class="col-md-12">
                <textarea class="form_cont" placeholder="Message" type="type" name="message"></textarea>
              </div>
              <div class="col-md-12">
                <div class="group_form">
                  <button class="send_btn">Send</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-7">
          <div class="map_main">
            <div class="map-responsive">
              <iframe
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=Eiffel+Tower+Paris+France"
                width="600" height="490" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end contact -->
  <!-- footer -->
  {% include 'include/footer.html' %}
  <!-- end footer -->
  <!-- Javascript files-->
  {% include 'include/scripts.html' %}


</body>
{% endblock body %}