{% load static %}
<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="conta">
                        <li> <span>Address</span> dolore magna aliqua. Ut enim ad <br> minim veniam, quis </li>
                        <li> <span>Email</span> <a href="Javascript:void(0)">+01 12345678999<br> +01 12345678999</a>
                        </li>
                        <li> <span>Call</span> <a href="Javascript:void(0)"> motox@gmail.com <br>demo@gmail.com</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1">
                    <form class="newslatter_form">
                        <input class="ente" placeholder="Enter your email" type="text" name="Enter your email">
                        <button class="subs_btn"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                    </form>
                </div>
                <div class="col-md-12">
                    <div class="Informa">
                        <ul class="social_icon text_align_center">
                            <li> <a href="Javascript:void(0)"><i class="fa fa-facebook-f"></i></a></li>
                            <li> <a href="Javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                            <li> <a href="Javascript:void(0)"><i class="fa fa-linkedin-square"
                                        aria-hidden="true"></i></a></li>
                            <li> <a href="Javascript:void(0)"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright text_align_center">
            <div class="container">
                <div class="row">

                </div>
            </div>
        </div>
    </div>
</footer>