{% load static %}
<header class="header-area">
    <div class="container">
        <div class="row d_flex">
            <div class=" col-md-3">
                <div class="logo">
                    <a href="index.html"><img src="{% static 'images/logo.png' %}" alt="#" />A<span>Plus</span></a>
                </div>
            </div>
            <div class="col-md-9 col-sm-12">
                <div class="navbar-area">
                    <nav class="site-navbar">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/services">Services </a></li>
                            <li><a href="/testimonial">Testimonial</a></li>
                            <li><a href="/blog">Blog </a></li>
                            <li><a href="/contact">Contact</a></li>
                            <li><a href="/login">Login</a></li>
                        </ul>
                        <button class="nav-toggler">
                            <span></span>
                        </button>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>